
@{
    ViewBag.Title = "Barracks";
    ViewBag.Id = 2;
}

<h2>Barracks</h2>

<fieldset>
    <legend>Units In Progress</legend>
    @{
        Html.RenderAction("GetUnitsInProgress", "UnitsBuildings", new { id = ViewBag.Id });
    }
</fieldset>

<fieldset>
    <legend>Available Units</legend>
    @{
        Html.RenderAction("GetAvailableUnits", "UnitsBuildings", new { id = ViewBag.Id });
    }

</fieldset>

