
@{
    ViewBag.Title = "House";
}

<h2>House</h2>

<div class="hero-unit row-fluid">
    <div class="pull-left">
        <img src="../../../img/Buildings/House.png" />
    </div>
    <div class="pull-right">
        Houses lets your population grow. Every time you upgrade your House you population gets bigger.
    </div>
</div>
